@font-face {
	font-family: "Inter";
	src: url("../assets/fonts/Inter-VariableFont_opsz,wght.ttf")
		format("truetype");
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Inter";
	src: url("../assets/fonts/Inter-Italic-VariableFont_opsz,wght.ttf")
		format("truetype");
	font-weight: 100 900;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Inter Fallback";
	src: local("Arial");
	font-weight: 100 900;
	font-style: normal;
}

@font-face {
	font-family: "JetBrains Mono";
	src: url("../assets/fonts/JetBrainsMono-VariableFont_wght.ttf")
		format("truetype");
	font-weight: 100 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "JetBrains Mono";
	src: url("../assets/fonts/JetBrainsMono-Italic-VariableFont_wght.ttf")
		format("truetype");
	font-weight: 100 800;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "JetBrains Mono Fallback";
	src: local("Menlo"), local("Consolas"), local("Courier New");
	font-weight: 100 800;
	font-style: normal;
}

:root {
	--font-sans: "Inter", "Inter Fallback", sans-serif;
	--font-mono: "JetBrains Mono", "JetBrains Mono Fallback", monospace;
	--font-math: "STIX Two Math", "Cambria Math", "Liberation Math", math;
}
