---
import Search from "@/components/Search.astro";
import ThemeToggle from "@/components/ThemeToggle.astro";
import { menuLinks } from "@/site.config";
import { siteConfig } from "../../site.config";
---

<header class="relative mb-14 flex items-center" id="main-header">
	<div class="flex-1">
		<a
			aria-current={Astro.url.pathname === "/" ? "page" : false}
			class="mb-4 inline-flex items-center"
			href="/"
		>
			<svg
				aria-hidden="true"
				class="mr-3 h-12 w-10 sm:h-14 sm:w-12"
				fill="none"
				focusable="false"
				viewBox="0 0 272 480"
				xmlns="http://www.w3.org/2000/svg"
			>
				<title>my logo</title>
				<g transform="translate(-56 0) scale(0.750)">
					<path
						fill="currentColor"
						d="M96 192h64v256H96z
						 M160 192h96v64h-96z
						 M256 256h64v64h-64z
						 M352 192h192v64H352z
						 M480 256h64v64h-64z
						 M416 320h64v64h-64z
						 M352 384h192v64H352z"
					/>
				</g>
			</svg>
			<span class="text-xl font-bold sm:text-3xl">{siteConfig.title}</span>
		</a>
		<nav
			aria-label="Main menu"
			class="grid grid-cols-4 gap-y-2 text-accent"
			id="navigation-menu"
		>
			{
				menuLinks.map((link) => (
					<a
						aria-current={Astro.url.pathname === link.path ? "page" : false}
						class="hover:underline"
						href={link.path}
						rel="prefetch"
					>
						{link.title}
					</a>
				))
			}
		</nav>
	</div>
	<Search />
	<ThemeToggle />
</header>

<script>
	import { toggleClass } from "@/utils/domElement";

	class MobileNavBtn extends HTMLElement {
		#menuOpen: boolean = false;

		connectedCallback() {
			const headerEl = document.getElementById("main-header")!;
			const mobileButtonEl = this.querySelector<HTMLButtonElement>("button");

			mobileButtonEl?.addEventListener("click", () => {
				if (headerEl) toggleClass(headerEl, "menu-open");
				this.#menuOpen = !this.#menuOpen;
				mobileButtonEl.setAttribute("aria-expanded", this.#menuOpen.toString());
			});
		}
	}

	customElements.define("mobile-button", MobileNavBtn);
</script>
