---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About",
};
---

<PageLayout meta={meta}>
	<article class="flex-grow break-words">
		<div class="prose prose-sm prose-cactus prose-headings:font-semibold max-w-none">
			<h1 class="title mb-6">About</h1>
			<p>
				Hi, I'm Gaurav. This page is a placeholder until I add my full bio and background.
			</p>
		</div>
	</article>
</PageLayout>
