---
import Layout from "@layouts/Layout.astro";
import { Button } from "@components/ui/button";
---

<Layout>
  <div class="grid place-items-center h-screen content-center">
    <Button>Button</Button>
  </div>
</Layout>
