---
import type { TocItem } from "@/utils/generateToc";

interface Props {
	heading: TocItem;
}

const {
	heading: { children, depth, slug, text },
} = Astro.props;
---


<li class="line-clamp-2 hover:text-accent">
	<a
		class={`block ${depth <= 2 ? "mt-3" : "mt-2 pl-3 text-[0.6875rem]"}`}
		href={`#${slug}`}
		aria-label={`Scroll to section: ${text}`}
	>
		<span>{"#".repeat(depth)}</span> {text}
	</a>
	{
		!!children.length && (
			<ol>
				{children.map((subheading) => (
					<Astro.self heading={subheading} />
				))}
			</ol>
		)
	}
</li>
